@import "_stock-list.scss";
@import "_item-details.scss";
@import "_edit-item.scss";

@font-face {
	font-family: ITCAvantGarde;
	src: url("../fonts/ITCAvantGardeStdMd.woff");
}

/* CSS RESET */
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

ul {
	list-style-type: none;
}

body {
	font-family: ITCAvantGarde, sans-serif;
	letter-spacing: 1.25px;
}

/* STOCK MANAGEMENT */
.stock-management {
	height: 100vh;
	display: grid;
	grid-template-rows: auto 1fr;
	grid-template-areas:
		"header"
		"main";
}

/* HEADER */
.header {
	grid-area: header;
	display: grid;
	grid-auto-flow: column;
	align-items: center;
	background-color: hsl(0 0% 85% / 1);
	width: 100%;
	text-align: center;
	padding: 1em;
	
	@media screen and (max-width: 1200px) {
		grid-auto-flow: row;
	}

	&--hidden {
		display: none;
	}
	
	&__brand {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	
	&__logo {
		width: 80px;
		height: auto;
		margin: 0 0.5em;
		cursor: pointer;
	}
	
	&__title {
		padding: 0.5em;
		cursor: default;
		
		@media screen and (max-width: 400px) {
			font-size: 1.25rem;
		}
	}
	
	&__options {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 4em;
		
		@media screen and (max-width: 650px) {
			flex-wrap: wrap;
			gap: 0;
		}
	}
	
	&__search {
		padding: 0.5em;
	}
	
	&__search-input {
		padding: 0.5em;
	}
	
	&__add-item,
	&__sign-out {
		font-size: 1rem;
		padding: 0.5em 1em;
		cursor: pointer;
		margin: 0.5em;
	}

}
