@import "_stock-list.scss";
@import "_item-details.scss";
@import "_edit-item.scss";

@font-face {
	font-family: ITCAvantGarde;
	src: url("../fonts/ITCAvantGardeStdMd.woff");
}

/* CSS RESET */
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

ul {
	list-style-type: none;
}

body {
	font-family: ITCAvantGarde, sans-serif;
	letter-spacing: 1.25px;
}

/* STOCK MANAGEMENT */
.stock-management {
	height: 100vh;
	display: grid;
	grid-template-rows: auto 1fr;
	grid-template-areas:
		"header"
		"main";
}

@mixin header-button() {
	font-size: 0.875rem;
	letter-spacing: 1px;
	width: max-content;
	padding: 0.5em 1em;
	margin: 0.5em;
	cursor: pointer;
	border-radius: 0;
	border: 1px solid black;
	background-color: white;
	color: black;
	text-transform: uppercase;
	
	&:active {
		border: 1px solid white;
		background-color: black;
		color: white;
	}
}

/* HEADER */
.header {
	grid-area: header;
	display: grid;
	grid-template-areas:
	"add-item	sign-out"
	"search 	search";
	align-items: center;
	text-align: center;
	background-color: hsl(0, 0%, 75%);
	width: 100%;
	padding: 0.5em;

	&--hidden {
		display: none;
	}
	
	&__search {
		grid-area: search;
		padding: 0.5em;
		margin: 1em 2em;
	}
	
	&__add-item {
		@include header-button();
		grid-area: add-item;
	}

	&__sign-out {
		@include header-button();
		grid-area: sign-out;
		justify-self: end;
	}
}
