@use "buttons";

@mixin selector-dot($left: 0, $right: 0) {
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	left: $left;
	right: $right;
	width: 8px;
	height: 8px;
	margin: auto;
	background-color: currentColor;
	border-radius: 50%;
}

/* EDIT ITEM */
.edit-item {
	grid-area: main;
	z-index: 4;
	display: none;
	padding: 0 2em;
	background-color: white;
	overflow-y: scroll;

	&--active {
		display: grid;
	}
	
	&__images {
		display: grid;
		justify-content: center;
		align-items: center;
	}

	&__image-select {
		display: grid;
	}
	
	&__image-preview {
		width: 300px;
		margin: 2em auto 1em;
	}
	
	&__image-label {
		cursor: pointer;
		width: max-content;
		justify-self: center;
		text-align: center;
		position: relative;

		&--active {
			color: green;
			
			&::before {
				@include selector-dot(-1em, none);
			}
			&::after {
				@include selector-dot(none, -1em);
			}
		}
	}
	
	&__image-upload {
		cursor: pointer;
		width: max-content;
		padding: 0.25em 0.5em;
		margin: 1em auto;
		background-color: #e9e9ed;
		color: black;
		font-family: sans-serif;
		border-radius: 0.3rem;
		border: 1px solid #8f8f9d;
	}
	
	&__details {
		display: grid;
	}
	
	&__label {
		margin: 1em 0 0.25em;
		text-transform: uppercase;
	}
	
	&__input {
		margin-top: 0.25em;
		padding: 0.5em;
	}
	
	&__tag-display {
		display: flex;
		flex-wrap: wrap;
		max-width: initial;
	}
	
	&__tag-select {
		display: none;
		border: 1px solid black;
		border-top: none;
		
		&--active {
			display: block;
		}
	}
	
	&__form-buttons {
		display: flex;
		justify-content: space-between;
		width: 100%;
	}
	
	&__cancel {
		@include buttons.nav;
		display: none;
		margin: 2em 0;
		
		&--active {
			display: block;
		}
	}
	
	&__submit {
		@include buttons.nav;
		display: none;
		margin: 2em 0;
		
		&--active {
			display: block;
		}
	}
}

/* DISPLAY TAG */
.tag-display {
	display: flex;
	justify-content: space-between;
	width: max-content;
	background-color: hsl(0, 0%, 90%);
	padding: 0.25em;
	margin: 0.25em;
	border-radius: 10px;
	
	&__name {
		margin: 0 0.5em;
	}
	
	&__remove {
		cursor: pointer;
		margin: 0 0.5em;
		color: red;
	}
}	

/* SELECT TAG */
.tag-select {
	background-color: hsl(0, 0%, 90%);
	padding: 0.5em;
	cursor: pointer;
	
	&:nth-child(2n) {
		background-color: hsl(0, 0%, 95%);
	}
}
