@use "buttons";
@import "_stock-list.scss";
@import "_item-details.scss";
@import "_edit-item.scss";

@font-face {
	font-family: ITCAvantGarde;
	src: url("../fonts/ITCAvantGardeStdMd.woff");
}

/* CSS RESET */
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

ul {
	list-style-type: none;
}

body {
	font-family: ITCAvantGarde, sans-serif;
	letter-spacing: 1.25px;
}

/* STOCK MANAGEMENT */
.stock-management {
	height: 100vh;
	display: grid;
	grid-template-rows: auto 1fr;
	grid-template-areas:
		"header"
		"main";
}

/* HEADER */
.header {
	grid-area: header;
	display: grid;
	grid-template-areas:
	"add-item	sign-out"
	"search 	search";
	align-items: center;
	text-align: center;
	background-color: hsl(0, 0%, 75%);
	width: 100%;
	padding: 0.5em;

	&--hidden {
		display: none;
	}
	
	&__search {
		grid-area: search;
		padding: 0.5em;
		margin: 1em 2em;
	}
	
	&__add-item {
		@include buttons.nav;
		grid-area: add-item;
		margin: 0.5em;
	}

	&__sign-out {
		@include buttons.nav;
		grid-area: sign-out;
		justify-self: end;
		margin: 0.5em;
	}
}
