@use "buttons";
@import "_stock-list.scss";
@import "_item-details.scss";
@import "_edit-item.scss";
@import "_add-item.scss";

@font-face {
	font-family: ITCAvantGarde;
	src: url("../fonts/ITCAvantGardeStdMd.woff");
}

/* CSS RESET */
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

ul {
	list-style-type: none;
}

body {
	font-family: ITCAvantGarde, sans-serif;
	letter-spacing: 1.25px;
}

/* STOCK MANAGEMENT */
.stock-management {
	height: 100vh;
	display: grid;
	grid-template-rows: auto 1fr;
	grid-template-areas:
		"header"
		"main";
}

/* HEADER */
.header {
	grid-area: header;
	display: grid;
	grid-template-columns: auto auto auto;
	text-align: center;
	background-color: hsl(0, 0%, 75%);
	width: 100%;

	&--hidden {
		display: none;
	}

	&__toggle-options {
		cursor: pointer;
		width: 1px;
		height: 1px;
		border-left: 20px solid transparent;
		border-right: 20px solid transparent;
		border-top: 20px solid black;
		border-bottom: none;
		justify-self: center;
		align-self: center;

		&--active {
			border-top: none;
			border-bottom: 20px solid black;
		}
	}
	
	&__stock-options {
		grid-column: span 3;
		display: none;
		justify-content: center;

		&--active {
			display: grid;
		}
	}

	&__search {
		font-size: 1rem;
		padding: 0.5em;
		margin: 1em;
		margin-top: 0;
	}
	
	&__add-item {
		@include buttons.nav;
		margin: 1em;
	}

	&__sign-out {
		@include buttons.nav;
		margin: 1em;
		justify-self: end;
	}
}
