@font-face {
  font-family: ITCAvantGarde;
  src: url("../fonts/ITCAvantGardeStdMd.woff");
}


/* CSS RESET */

*, *::before, *::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

ul {
	list-style-type: none;
}

body {
	font-family: ITCAvantGarde, sans-serif;
	letter-spacing: 1.25px;
}
